body{
    direction: rtl;
    font-family: fantasy;
}
main{
    background-color: #f8faff;
    padding-bottom: 10rem;
}
.topslide img{
    height: 48rem;
    width: 137rem;
    position: relative;
    filter: brightness(.8);
}
.topslide{
    direction: ltr;
    position: relative;
}
nav{
    border-bottom: .12rem solid #fff;
    width: 135.6rem;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    color: white;
    font-size: 1.7rem;
    padding:1.3rem 0 2rem 1rem;
    background-color: rgba(1, 4, 36, 0.363);
    
}
nav div{
    padding:0 2rem;
    color: whitesmoke;    
}
.fir ul{
    position: absolute;
    top: 14em;
    direction: rtl;
    text-align: right;
    right:0;
}
.fir ul li{ 
    color: white;
    text-shadow: 0 0 1px rgb(0, 0, 0, .7 );
    font-size: 1.8rem;
    list-style: none;
    border-radius: .3rem;
    padding: 1rem 1rem 1rem 1rem;
    width:45rem;
}
.fir ul > :first-child{
    font-size: 3.5rem;
    text-shadow: 0 0 1px rgb(0, 0, 0, .8 );
    color: white;
    width: 70rem;
    margin-bottom: 3rem;
    background-color: unset;
}
.sec ul{
    position: absolute;
    top: 20rem;
    direction: rtl;
    text-align: right;
    right:0;
}
.sec ul li{ 
    color: white;
    text-shadow: 0 0 1px rgb(0, 0, 0, .7 );
    font-size: 1.9rem;
    list-style: none;
    border-radius: .3rem;
    padding: 1rem 1rem 1rem 1rem;
    max-width: 63rem;
}
.sec ul > :first-child{
    font-size: 3.5rem;
    text-shadow: 0 0 1px rgb(0, 0, 0, .8 );
    color: white;
    width: 85rem;
    margin-bottom: 1rem;
    background-color: unset;
}
.thr ul{
    position: absolute;
    top: 17rem;
    direction: rtl;
    text-align: right;
    right:0;
}
.thr ul li{ 
    color: white;
    text-shadow: 0 0 1px rgb(0, 0, 0, .7 );
    font-size: 1.8rem;
    list-style: none;
    border-radius: .3rem;
    padding: 1rem 1rem 1rem 1rem;
}
.thr ul > :first-child{
    font-size: 3.5rem;
    text-shadow: 0 0 1px rgb(0, 0, 0, .8 );
    color: white;
    width: 85rem;
    margin-bottom: 3rem;
    background-color: unset;
}
ul.slick-dots{
    bottom: .5rem;
}
h2{
    text-align: center;
    padding-top: 5rem;
    font-size: 2rem;
}
.unh{
    text-align: center;
    padding-top: 3rem;
    color: gray;
    margin-bottom: 10rem;
}
.unh:after{
    content: "";
    border-bottom: 1px solid gray;
    width: 60rem;
    margin:5rem auto;
    display: block;
}
.col-sm-3{
    text-align: center;
    margin: auto;
    margin-top: 1rem;
}
.col-sm-3 > span{
    padding: 1.5rem 1.5rem 1.2rem 1.5rem;
    border: 1px solid #5bc9fe;
    border-radius: 1.6rem;
    background-color: #5bc9fe;
    transform:rotate(45deg);
    display: inline-block;
    margin-bottom: 2.5rem;
}
.col-sm-3 span i{
    transform: rotate(-45deg);
    color: white;
    font-size: 2.5rem;
}
.col-sm-3 h3{
    margin-bottom: 5rem;
}
.col-sm-3:nth-child(2) h3{
    margin-bottom: 2.3rem;
}
.col-sm-3 p{
    color: gray;
}
.btns{
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-size: 15px;
    background-color: #082154;
    padding: 5px 0;
    margin: 3rem auto;
/*     box-shadow: 0 5px 10px rgba(0,0,0,0.15); */
    width: 14rem;
}
.ttt{
    margin-top: 5rem;
}
  .btns span {
    position: relative; 
    z-index: 1;
    color: white;         
  }
  .btns:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 620%;
    width: 140%;
    background: #5bc9fe;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(275deg);
    transform: translateX(71%) translateY(-26%) rotate(45deg);
  }
.ttt:after{
        transform: translateX(71%) translateY(-26%) rotate(45deg);
}
  
  .btns:hover:after{
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
     
  }
a:hover{
         text-decoration: unset !important;
}
.info{
    direction: rtl;
    text-align: right;
    margin-top:5rem;
}

.right h3{
    font-size: 2.3rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}
.right p{
    margin-right: 2rem;
    color: gray;
    font-size: 1.31rem;
}
.hhr{
    margin-top:5rem;
}
.ico span{
    display: inline-block;
    padding: 1rem 1rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
    background-color:  #0B99A7;
    margin-right: 2rem;
}
.ico span i{
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 5px 8px #003659;    
}
.left{
    margin-top: 6rem;
}
.card{
    padding: 1.5rem;
    margin: 1rem;
    border: none ;
    box-shadow: 0 3px 25px rgb(0, 0, 0, .07) ;
}
.card a{
    color: #0B99A7;
}
.card a:hover{
    color: #003659;
}
.card a i{
    margin-right: .9rem;
    margin-top: 3rem;
    bottom: 0;
}
iframe{
    width: 85%;
    height: 33rem;
    margin-top: 8rem;
    
}
.container{
    text-align: center;
}
footer{
    background: url("m2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    direction: rtl;
    text-align: right;
    color: white;
}
footer p{
     max-width: 90%;
    margin-right:5rem; 
    margin-bottom:5rem;
}
footer .row p{
    width: 25rem;
    margin-left:3rem;
    margin-right: 6.5rem;
}
.thh{
    font-size: 2rem;
    margin: 5rem 5rem 3rem ;
    color: white;
}